.reviews {
    grid-column: center-start/center-end;
    margin: 15rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
    align-content: stretch;
    line-height: 2rem;

    @media only screen and (max-width: $bp-largest) {
     grid-template-columns: repeat(2, 1fr);   
    }

    @media only screen and (max-width: 800px) {
        margin: 5rem 0;
       }
    
}

.review {
    background-color: var(--color-white);
    padding: 5rem;
    box-shadow: 0 3rem 6rem rgba(var(--color-black), .1);
    font-size: var(--default-font-size);
    padding-right: 5rem;
    transform: skewX(-12deg);
    border-style: solid;
    border-color: var(--color-primary);

    @media only screen and (max-width: $bp-small) {
        transform: skewX(0);
        padding: 2rem;
        
       }

    & > * {
        transform: skewX(8deg);

        @media only screen and (max-width: $bp-small) {
            transform: skewX(0);
           }
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: right;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(45% at 50% 50%);
        transform: translateX(2rem);
        position: relative;
    }

    &__img {
        height: 100%;    
        transform: skewX(5deg);
        
        @media only screen and (max-width: $bp-small) {
            transform: skewX(0);
           }
        

    }

    &__text {
        transform: skewX(12deg);

        @media only screen and (max-width: $bp-small) {
            transform: skewX(0);
           }
        
    }

    &__caption {
        color: rgb(245, 241, 241);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.7rem;
        text-align: center;
        
    }

    &-1 {

        @media only screen and (max-width: $bp-largest) {
            grid-column: 1/-1;
            width: 80%;
            margin:auto;
    }
        @media only screen and (max-width: $bp-small) {
            width: 100%;
    }
}

    &-2 {

        @media only screen and (max-width: $bp-largest) {
            
            grid-column: 1/2;
            width: 80%;
            height: 100%;
            margin:auto;
    }


    @media only screen and (max-width: $bp-large) {
        grid-column: 1/-1;  
       }

    @media only screen and (max-width: $bp-small) {
        width: 100%;
}
    }


    &-3 {
        @media only screen and (max-width: $bp-largest) {
            
            grid-column: 2/3;
            width: 80%;
            margin:auto;
    } 

    @media only screen and (max-width: $bp-large) {
        grid-column: 1/-1;  
       }

    @media only screen and (max-width: $bp-small) {
        width: 100%;
}
    }


}